# Environment variables
.env

# Docker persistent data
services/data/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# macOS
.DS_Store

# IDEs
.vscode/
.idea/

# Logs
*.log

# Python virtual environments
venv/
.venv/

# Todo
TODO.md